a.CSR:link
{
    COLOR: #2a1f55;
    TEXT-DECORATION: none
}
a.CSR:visited
{
    COLOR: #2a1f55;
    TEXT-DECORATION: none
}
a.ganttchart:active
{
    COLOR: white;
    TEXT-DECORATION: none
}
a.ganttchart:hover
{
    COLOR: white;
    TEXT-DECORATION: none;
}
a.ganttchart:link
{
	color:Blue;
    TEXT-DECORATION: none
}
a.ganttchart:visited
{
	color:Blue;
    TEXT-DECORATION: none
}
a.ganttdistrict:active
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
a.ganttdistrict:hover
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
a.ganttdistrict:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
a.ganttdistrict:visited
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
a.tabstrip:active
{
    COLOR: #dce678;
    TEXT-DECORATION: none
}
a.tabstrip:hover
{
    COLOR: #dce678;
    TEXT-DECORATION: none
}
a.tabstrip:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
a.tabstrip:visited
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
a.device:active
{
    COLOR: #ffff80;
    TEXT-DECORATION: none;
}
a.device:hover
{
    COLOR: #ffff80;
    TEXT-DECORATION: none;
}
a.device:link
{
	color:Blue;
    TEXT-DECORATION: none;
}
a.device:visited
{
	color:Blue;
    TEXT-DECORATION: none;
}
BODY
{
    FONT: 8pt Verdana, Arial, Helvetica, Sans-Serif;
    COLOR: black;
    BACKGROUND-COLOR: #e2e2e2
}
span.legend
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #2a1f55;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
span.PageError
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #dc6c84;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
span.PageText
{
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    COLOR: #2a1f55;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
span.PageTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    COLOR: #2a1f55;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
span.schedule
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
span.schedulefrom
{
    FONT-SIZE: 10pt;
    COLOR: #bfcfff;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
span.scheduleto
{
    FONT-SIZE: 10pt;
    COLOR: #ffffaa;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
span.tabstrip
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
span.toolbar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #173353;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif;
    text-align:left
    
}
HR.CSR
{
    BACKGROUND-COLOR: #cccccc;
    font-size: 1
}
SELECT.FormText
{
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
SELECT.toolbar
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
TABLE.CSRAppoint
{
    FONT-SIZE: 10pt;
    BORDER-LEFT-COLOR: #cccccc;
    BORDER-BOTTOM-COLOR: #cccccc;
    COLOR: black;
    BORDER-TOP-COLOR: #cccccc;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif;
    BACKGROUND-COLOR: #ffffff;
    BORDER-RIGHT-COLOR: #cccccc
}
TABLE.Forms
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #000000 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif;
    BACKGROUND-COLOR: #ffffff
}
TABLE.FormTables
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
TABLE.ganttchart
{
    FONT-SIZE: 8pt;
    BORDER-LEFT-COLOR: #cccccc;
    BORDER-BOTTOM-COLOR: #cccccc;
    COLOR: #000000;
    BORDER-TOP-COLOR: #cccccc;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif;
    BORDER-RIGHT-COLOR: #cccccc
}
table.ganttchart
{
    FONT-SIZE: 8pt;
    BORDER-LEFT-COLOR: #cccccc;
    BORDER-BOTTOM-COLOR: #cccccc;
    COLOR: #000000;
    BORDER-TOP-COLOR: #cccccc;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif;
    BORDER-RIGHT-COLOR: #cccccc
}
TABLE.legend
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif;
    BACKGROUND-COLOR: #9e9e9e
}
td.HomePage
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
td.FormTables
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
td.AppointText
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
td.FormText
{
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
td.engineerslist
{
    HEIGHT: 19px;
    vertical-align: middle
}
td.ganttchart
{
    HEIGHT: 19px;
    vertical-align: middle;
    text-align: center
}
td.ganttchartengineer
{
    HEIGHT: 19px;
    BACKGROUND-COLOR: #778098;
    vertical-align: middle;
    text-align: center
}
td.legend
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
td.schedulebackground
{
    BACKGROUND-COLOR: #0a51a3
}
td.tablebackground
{
    BACKGROUND-COLOR: #ffffff
}
td.tableline
{
    BACKGROUND-COLOR: #cccccc
}
td.tabstripselected
{
    BACKGROUND-COLOR: #3b538c;
    vertical-align: middle;
    text-align: left
}
td.tabstripunselected
{
    BACKGROUND-IMAGE: url(Images/TabBackground.gif);
    vertical-align: middle;
    text-align: left
}
td.taskslist
{
    HEIGHT: 19px;
    vertical-align: middle
}
td.toolbarbackground
{
    BACKGROUND-IMAGE: url(../Images/ToolbarBackground.gif)
}
td.toolbartabengineerslist
{
    DISPLAY: none
}
td.toolbartabganttchart
{
    DISPLAY: block
}
td.toolbartabtaskslist
{
    DISPLAY: none
}
td.calldetailhead
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
td.dontWrap
{
	white-space: nowrap;
}
th.CSREmpty
{
    COLOR: #cecece;
    BACKGROUND-COLOR: #cecece
}
th.CSRTitle
{
    COLOR: black;
    BACKGROUND-COLOR: #cecece
}
tr.taskslist
{
    BACKGROUND-COLOR: #bec4cf
}
tr.engineerslist
{
    BACKGROUND-COLOR: #778098
}
tr.calldetails
{
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: top;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
INPUT.FormText
{
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    COLOR: black;
    FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif
}
a.GenTopStrip
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
a.GenTopStrip:active
{
    COLOR: #0a51a3;
    TEXT-DECORATION: none
}
a.GenTopStrip:hover
{
    COLOR: #0a51a3;
    TEXT-DECORATION: none
}
.tooltip
  { position:               absolute;
    padding:                0.5em;
    text-align:             left;
    font-size:              1.00em;
    border:                 solid 1px #115;
    background:             #eedd82;
    display:                none;
    z-index:                100;
    max-width:              30em;
  }
.ttsize
  { width: 32em;
  }
div.tip
  { position:               absolute;
    visibility:             hidden;
    top:                    0;
    left:                   0;
    width:                  450px;
    height:					255px;
    overflow:				hidden;
    border:                 1px #000000 solid;
    background:             #8FCFFF;
    text-align:             Left;
    padding:				0px 0px 3px 3px;
    white-space:			normal;
  }

td.dgName
{	width:					100px;	
}

td.dgStatus
{	width:					75px;
	text-align:				center;
}

td.dgCustomer
{	width:					200px;
}

td.dgCallNum
{	white-space:			nowrap;
}

